<!-- About -->

  <section class="about" id="about">
    <div class="container text-center">
      <h2>
          About ISOK
        </h2>

      <p>
        As a company which combines the tradition of successful operations and worldly experience, our aim is to actively participate in promoting Serbia’s market, from providing top-class services when it comes to protection of insureds, to keeping up with the latest trends in the field of insurance programs.
      </p>

      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">0</span> Satisfied Customers
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">1</span> Released Projects
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">5</span> Hard Workers
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->
