  <!-- Call to Action -->

  <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12 text-lg-left text-center">
          <h2>
              Confirmation of high standard of service
            </h2>

          <p>
            By protecting the company’s information property, we also protect the sensitive data on clients and business partners. The goal is to maintain the continuity of the manner of operations that is in the best interest of our company and our clients.
          </p>
        </div>

        <div class="col-lg-3 col-sm-12 text-lg-right text-center">
          <!--<a class="btn btn-ghost" href="#">Buy This Theme</a>-->
        </div>
      </div>
    </div>
  </section>
  <!-- /Call to Action -->

