
<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>


<legend>&nbsp; Protect your home today!</legend>

<!-- Text input-->

<div class="form-group">


  <label class="col-md-4 control-label">Full Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-user"></i></span>
  <input  name="full_name" placeholder="Full Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Address</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
  <input name="address" placeholder="Address" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">JMBG</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
  <input name="jmbg" placeholder="JMBG" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- select input-->
       
<div class="form-group"> 
  <label class="col-md-4 control-label">Insurance type</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
      <select name="insuranceTypes" class="form-control selectpicker">
       <option value="" >Please select your state</option>
      <option *ngFor="let iT of insuranceTypes" [ngValue]="iT">{{iT.typeName}}</option>
    </select>
  </div>
</div>
</div>

<!-- select input-->
       
<div class="form-group"> 
  <label class="col-md-4 control-label">Object surface</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-info"></i></span>
      <select name="homeSurfaces" class="form-control selectpicker">
       <option value="" >Please select surface range</option>
      <option *ngFor="let hs of homeSurfaces" [ngValue]="hs">{{hs.surfaceNum}}</option>
    </select>
  </div>
</div>
</div>


<!-- select input-->
       
<div class="form-group"> 
  <label class="col-md-4 control-label">Object age</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-info"></i></span>
      <select name="homeAges" class="form-control selectpicker">
       <option value="" >Please select age range</option>
      <option *ngFor="let ha of homeAges" [ngValue]="ha">{{ha.ageNum}}</option>
    </select>
  </div>
</div>
</div>


<!-- select input-->
       
<div class="form-group"> 
  <label class="col-md-4 control-label">Approximate value</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-info"></i></span>
      <select name="homeValue" class="form-control selectpicker">
       <option value="" >Please select surface range</option>
      <option *ngFor="let hv of homeValues" [ngValue]="hv">{{hv.approxValue}}</option>
    </select>
  </div>
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Insurance length</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-info"></i></span>
  <input name="insurance_length" placeholder="Insurance length" class="form-control" type="number">
    </div>
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Price sum</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
  <input name="price_sum" placeholder="" class="form-control" type="number" readonly>
    </div>
  </div>
</div>

<!-- Button <div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-success" >Send &nbsp; <span class="fa fa-send"></span></button>
  </div>
</div>-->

<div class="form-group"> 
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <div id="paypal-button"></div>
    </div>
  </div>
</div>




</fieldset>
</form>
</div><!-- /.container -->

<div class="container imgRight">
	
	<img src="../../assets/img/home-insurance.jpg">
</div>