<!-- Header -->
<header id="header">
  <div class="container">

     <div id="logo" class="pull-left hoverClick" (click)="redirectToMain()">
      <h1><a>PRICE MANAGEMENT</a></h1>
    </div>


    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-has-children"><a href="#update">
          Update the insurance offer</a>
          <ul>
            <li class="hoverClick"> <span class="fa fa-male"></span> <a>Sport type</a></li>
            <li class="hoverClick"> <span class="fa fa-group"></span><a>Age group</a></li>
            <li class="hoverClick"> <span class="fa fa-car"></span><a>Help on the road</a></li>
          </ul>
        </li>
        <li class="menu-has-children"><a href="#pricelist">Manage pricelist</a>
          <ul>
            <li  class="hoverClick"> <span class="fa fa-male"></span> <a>Update pricelist</a></li>
          </ul>
        </li>
        <li><a href="#discount">Change discount rules</a></li>
 
      </ul>
    </nav>
    <!-- #nav-menu-container -->

  </div>
</header>
<!-- #header -->
