 <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
          BUY ONLINE
        </h2>
<br>
      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-male"></span>
              </div>
            </div>

            <div>
              <h3>
                  For individuals
                </h3>

              <p>
                Your life partner
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-group"></span>
              </div>
            </div>

            <div>
              <h3>
                  For family
                </h3>

              <p>
                Insurance for those who care about the safety of their loved ones
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-car"></span>
              </div>
            </div>

            <div>
              <h3>
                  For drivers
                </h3>

              <p>
                Safety on the road
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-globe"></span>
              </div>
            </div>

            <div>
              <h3>
                  For travelers and tourists
                </h3>

              <p>
                Travelers, tourists, adventurers – your travels are safe with ISOK
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer" (click)="redirectToPage()">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-home"></span>
              </div>
            </div>

            <div>
              <h3>
                  For property owners
                </h3>

              <p>
                Protection of your life’s work
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12 insuranceOffer">
          <div class="card card-block text-center boxOffer">
            <div>
              <div class="feature-icon">
                <span class="fa fa-dashboard"></span>
              </div>
            </div>

            <div>
              <h3>
                  Special offers
                </h3>

              <p>
                Special benefits that you receive only with ISOK insurance
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features -->
