 <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home">
            </a>
            <h2 class="h2">ISOK Insurance</h2>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            Insurance for Individuals & Families
          </h1>

        <p class="tagline">
          If you're buying a home, planning a trip, or protecting your portfolio of properties, our coverage and products can help give you a stronger future.
        </p>
        <a class="btn btn-full" href="#about">Get Started Now</a>
      </div>
    </div>

  </section>
